body{
	background-color:#DDDDDD;
}
h1{
	color:#AA3259;
	font-family:Calibri;
}
ul{
	font-size: 16px;
	font-family:Calibri;
}
.imformation{
	font-family:Calibri;
	font-size:16pt;
	border: 5px solid black;
	
    
}