
h1{
	font-family:Arial;
	text-align:center;
}
p{
	font-family:Arial;
	font-size:20px;
	
}
h6{
	font-family:Arial;
	font-size:20px;
	
}
h5{
	font-family:標楷體;
	font-size:20px;
	text-align:center;
	font-weight:bold;
