p{
	font-size:20px;
	font-family:Arial;
}
h1{
	text-align:center;
}
h4{
	font-size:20px;
	text-align:center;
	background-color:#FFDCB9;
}
.topic{
	font-size:40px;
	font-family:標楷體;
	text-transform:uppercase;
	/*class於CSS使用型式*/
}
#offer{
	font-size:35px;
	font-weight:bold;
	color:brown;
	/*id於CSS使用型式*/
}